{
	"name": "OpenLens",
	"version": "1.0.0",
	"lockfileVersion": 3,
	"requires": true,
	"packages": {
{% if openlens_install_pod_menu_extension %}
		"../../.k8slens/extensions/alebcay--openlens-node-pod-menu": {
			"version": "0.1.2",
			"license": "MIT",
			"engines": { "node": "^16.14.2", "lens": "^6.3.0" }
		},
		"node_modules/@alebcay/openlens-node-pod-menu": {
			"resolved": "../../.k8slens/extensions/alebcay--openlens-node-pod-menu",
			"link": true
		}{{ ',' if openlens_install_multi_pod_logs_extension else '' }}
{% endif %}
{% if openlens_install_multi_pod_logs_extension %}
		"../../.k8slens/extensions/andrea-falco--lens-multi-pod-logs": {
			"version": "1.0.0",
			"license": "MIT"
		},
		"node_modules/@andrea-falco/lens-multi-pod-logs": {
			"resolved": "../../.k8slens/extensions/andrea-falco--lens-multi-pod-logs",
			"link": true
		}
{% endif %}
	}
}
